html, body{
height: 100%;
width: 100%;
border: 0px;
margin: 0px;
}

#elmaster{
    display: grid;
    height: 90%;
    width: 100%;
    grid-template-columns: repeat(500, 1fr);
    grid-template-rows: repeat(400,1fr);
}

#elmaster :nth-child(even){
    background-color: gray;
}

.ajustes{
    background-color: teal;
    height: 10%;
    width: 100%;
}

.ajustes button{
    margin-top:1.5%;
    margin-left:2%;
    background-color: #333;
    color: white;
    border:none;
    padding:7px;
    border-radius: 20px; 
}

.ajustes button :hover{
    background-color: #555;
}






