* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
}

.center {
    width: 100%;
    min-width: 750px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    padding: 0px 0px 10px 0px;
    border-radius: 2px;
    border-top: 10px;
}

.backcolor {
    background-color: rgb(0, 0, 0, .1);
}

canvas {
    border: 2px solid #3f51B5;
    background-color: #fff;
    border-radius: 2px;
    width: 1280px;
    height: 580px;
}

.btn {
     border: none;
     background-color: #3f51b5;
     padding: 0px, 5px;
     color: white;
     width: 13%;
     margin-left: 20px;
     align-items: center;
     cursor: pointer;
     border-radius: 3px;
     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), rgba(0 1px 0, 0, 0, 0.24);    
}

.speed {
    display: inline;
    border: 1 solid grey;
     background-color: #3f51b5;
     padding: 0px, 5px;
     color: white;
     margin-left: 20px;
     cursor: pointer;
     border-radius: 3px;
     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), rgba(0 1px 0, 0, 0, 0.24);    
}

.controls {
    margin-left: 100px;
    align-content: center;
}

.btn-stop {
    background-color: #f44336;
}